@import '@/styles/variables.less';

.nft_creation {
  &__file {
    min-height: 303px;
    margin-bottom: 20px;

    &_content {
      &__title {
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.005em;
      }

      &__sub_title {
        padding-bottom: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.015em;
      }
    }

    &_preview_content {
      margin-top: 10px;

      &__title {
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.005em;
      }

      &__sub_title {
        padding-bottom: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.015em;
      }
    }
  }

  &__attribute {
    margin-bottom: 20px;
    &__row {
      &__royalties {
        div:nth-child(2) {
          display: flex;
          align-items: center;

          input {
            padding-right: 25px;
            box-sizing: border-box;
          }
        }

        .field {
          &__span {
            position: relative;
            right: 25px;
          }
        }
      }
    }
  }
}
